" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
" git --git-dir=.git-ideavimrc --work-tree=. push

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch
set isk+=$
" Don't use Ex mode, use Q for formatting.
map Q gq
" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
let mapleader=" "

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'
set quickscope

"Navigation
map <leader>a <Action>(GotoAction)

let g:WhichKeyDesc_workspace        = "<Space>w  workspace"
let g:WhichKeyDesc_document        = "<Space>d  document"
let g:WhichKeyDesc_generate        = "<Space>g  generate"
let g:WhichKeyDesc_find        = "<Space>f  find"
let g:WhichKeyDesc_go        = "g  go_to"
let g:WhichKeyDesc_toggle        = "<Space>t  toggle"

map <leader>ds <Action>(FileStructurePopup)
map <leader>df <Action>(ReformatCode)
map <leader>e <Action>(Switcher)
map <leader>ws <Action>(GotoSymbol)
map <leader>wf <Action>(GotoFile)
nmap <leader>ff <Action>(FindInPath)
nmap <leader>fw <Action>(FindUsages)
map <leader>wc <Action>(GotoClass)
nmap <leader>gl <Action>(com.laravel_idea.plugin.LaravelActionChooser)
nmap <leader>gc <Action>(Generate)
nmap <leader>gh <Action>(com.laravel_idea.plugin.GenerateHelperCodeAction)
map <A-x> <Action>(ShowNavBar)
imap <C-J> <Action>(InsertLiveTemplate)

map <S-K> <Action>(ShowHoverInfo)
nmap gd <Action>(GotoDeclarationOnly)
nmap gi <Action>(GotoImplementation)
nmap gu <Action>(GotoDeclaration)
nmap rm <Action>(RenameElement)
nmap mv <Action>(Move)
nmap [ <Action>(MethodUp)
nmap ] <Action>(MethodDown)

"" map n <Action>(FindNext)
"" map <S-n> <Action>(FindPrevious)
"" nmap sf <Action>(FindUsagesInFile)

nmap s viw
map <leader>ce <Action>(IntroduceVariable)

nmap <Esc> <Action>(HideActiveWindow)
vmap A <Action>(EditorAddCaretPerSelectedLine)

nmap <leader>tf <Action>(ToggleFullScreen)
map <leader>ts <Action>(ActivateStructureToolWindow)
sethandler <C-2> a:ide
sethandler <C-S-2> a:ide
sethandler <C-6> a:ide
sethandler <C-S-6> a:ide
sethandler <C-A> a:ide
sethandler <C-B> a:ide
sethandler <C-C> a:ide
sethandler <C-D> a:ide
sethandler <C-E> a:ide
sethandler <C-F> a:ide
sethandler <C-G> a:ide
sethandler <C-H> a:ide
sethandler <C-I> a:ide
sethandler <C-J> a:ide
sethandler <C-K> a:ide
sethandler <C-L> a:ide
sethandler <C-M> a:ide
sethandler <C-N> a:ide
sethandler <C-O> n:vim i-x:ide
sethandler <C-P> a:ide
sethandler <C-Q> a:ide
sethandler <C-R> n:vim i:ide
sethandler <C-S> a:ide
sethandler <C-T> a:ide
sethandler <C-U> a:ide
sethandler <C-V> a:ide
sethandler <C-W> a:ide
sethandler <C-X> a:ide
sethandler <C-Y> a:ide
sethandler <C-[> a:ide
sethandler <C-\> a:ide
sethandler <C-]> a:ide

set ideajoin

set which-key

set timeoutlen=5000
